/* Add styles to the body */
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	background-color: #4e4187;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 0;
}

/* Add styles to the title */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    color: #f5f7fa;
    margin-top: 50px;
}

.logo img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

/* Add styles to links */
.title {
    position: relative;
    color: #ffffff;
}

.title::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .title:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

a {
    text-decoration: none;
}

/* Form used to set the username */
.form {
    background: #ffffff;
    border-spacing: initial;
    margin: 150px auto;
    padding: 15px 10px;
    word-break: break-word;
    table-layout: auto;
    line-height: 28px;
    color: #333;
    border-radius: 4px;
    width: 380px;
    border: 1px solid;
}

/* Button used to open the form */
.authButton {
	display: flex;
	justify-content: center;
	align-items: center;
  	background-color: #4b4e6d;
  	color: #f5f7fa;
  	padding: 13px 20px;
  	border: none;
  	cursor: pointer;
    border-radius: 4px;
    width: 100%;
    border: #4e4187 1px solid;
    font-size: 18px;
    opacity: 0.8;
}

/* Popup form - hidden by default */
.formPopup {
  	display: none;
}

/* Add styles to the form container */
.formContainer {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

/* Button used to close the form */
/*.closeButton {
	padding: 13px;
    color: #f5f7fa;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    border: #a395ac 1px solid;
    font-size: 18px;
    opacity: 0.8;
  	background-color: #ef5b5b;
}*/

/* Username label */
.usernameLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #888888;
    font-size: 16px;
}

/* Username input/Login button/Play button divs  */
.fieldColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	width: 100%;
}

/* Username input box */
.inputBox {
    margin-top: 5px;
    padding: 13px;
    border: #4e4187 1px solid;
    border-radius: 4px;
}

/* Button used to POST the username */
.loginButton {
    padding: 13px;
    background-color: #00cc99;
    color: #f5f7fa;
    cursor: pointer;
    border-radius: 4px;
    border: #4e4187 1px solid;
    font-size: 18px;
    opacity: 0.8;
}

/* Button used to play */
.playButton {
    padding: 13px;
    padding-left: 171px;
    padding-right: 171px;
    background-color: #ab87ff;
    color: #f5f7fa;
    cursor: pointer;
    border-radius: 4px;
    border: #4e4187 1px solid;
    font-size: 18px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.authButton:hover .loginButton:hover, .playButton:hover {
	opacity: 1;
}

/* Buttons used to set the level map */
.levelButton {    
    padding-top: 12px;
}

.levelButton > label {
    padding-right: 10px;
}

/* Add styles to the footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ab87ff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.link.social > a {
    display: inline-block;
    line-height: 36px;
    margin: 0 20px;
}

.social img {
    width: 60px;
    height: 60px;
}

.copyright {
    color: #f5f7fa;
}

/* Add some hover effects to buttons */
.footerEffect > img {
    transform: scale(1);
    transition: all 0.5s ease;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: antialised;
    -webkit-font-smoothing: subpixel-antialiased;
}

.footerEffect:hover > img {
    transform: scale(1.25);
    transition: all 0.5s ease;
}