body {
	font-family: 'Montserrat', sans-serif;
	/*color: #c0fdff;*/
	background-color: #8377d1;
}

/*.dashboard {
    background: #d2edd5;
    text-align: center;
    margin: 15px auto;
    line-height: 28.8px;
    color: #333;
    border-radius: 4px;
    padding: 30px;
    max-width: 400px;
    border: #c8e0cb 1px solid;
}*/

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}

.progressionText {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}

.labyrinthGame {
	display: flex;
	justify-content: center;
	align-items: center;
}

.moveButton {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

.upButton {
}

.leftnrightButton {
	display: flex;
	flex-direction: row;
}

.leftButton {
	padding-right: 20px;
}

.rightButton {
	padding-left: 20px;
}

.downButton {
}